<header>
        <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #333; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" style="background: chartreuse;"></span>
                
            </button>
            
            <a class="navbar-brand" href="/admin" style="color: white;font-weight: bold">Admin Panel</a>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="/admin" style="color: white; font-weight: bold">All Produts <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/view-orders" style="color: white;font-weight: bold">All Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/view-users" style="color: white;font-weight: bold">All Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/view-appointment" style="color: white;font-weight: bold">All Appointment</a>
                    </li>
                   
                </ul>
                <div class="dropdown">
                <button class="btn btn dropdown-toggle ml-auto" style="background-color: #d83f3c; color:white; font-weight: 5px " type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{#if user}}
                        {{user.Name}}
                        {{else}}
                            Admin
                    {{/if}}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {{#if admin}}
                        <a class="dropdown-item" href="/login">Logout</a>
                        {{else}}
                            <a class="dropdown-item" href="/login">Login</a>

                    {{/if}}
                    
                </div>
            </div>
            

        </div>
                {{!-- <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form> --}}
            </div>
        </nav>
    </header>