<section>
    <div class="row">
        <div class="container">
            <div class="col-md-12 text center">
                <img src="https://i.postimg.cc/59mVMw52/empty-cart.png" alt="Paris" class="center">
                
                </div>
                <div>
                  <p style="font-weight:bolder;font-size:2rem;margin-left:390px">Your Cart is Empty!!!</p>
                </div>
                <div class="s">
                
                <a  href="/" class="btn btn-success" >GO TO HOME</a>
            </div>
        </div>
    </div>
<style>
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 400px;
  height: 300px

}
.s {
  
  margin-top: 20px;
  margin-left: 480px;
  font-weight: bold;
  
</style>

</section>