<section>
    <div class="row">
        <div class="container">
            <div class="col-md-12 text center">
                <img src="https://i.postimg.cc/kMYzjDBf/Barbell-Bench-Press.gif 0" alt="Paris" class="center">
                </div>
                <p style="font-weight:bolder;font-size:2rem;margin-left:370px" > Order Successfully Placed </p>
                <div class="s">
                
                <a  href="/orders" class="btn btn-success" >View Orders</a>
            </div>
        </div>
    </div>
<style>
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 380px;
  height: 300px

}
.s {
  
  margin-top: 20px;
  margin-left: 500px;
  
</style>

</section>