<section>
    <div class="container mt-5">
        <form action="" id="checkout-form">
            <div class="row">
                <div class="col-md-6">
                    <h2>Enter Delivery Address</h2>
                    <div>
                        <label for="" >Address</label>
                        <input class="form-control" type="text" id="address" name="address" style="border-color:black" required>

                        <label for="">Pincode</label>
                        <input class="form-control" type="tel" id="pincode" name="pincode" style="border-color:black" pattern="[0-9]{6}" maxlength="6">

                        <label for="">Mobile</label>
                        <input class="form-control" type="tel" id="mobile" name="mobile" style="border-color:black" pattern="[0-9]{10}" maxlength="10" required>


                        <input type="text" name="userId" id="" value="{{user._id}}" hidden>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container mt-5 ml-5 checkout">
                        <h5>Total Amount : Rs.{{total}}</h5>
                        <hr>
                        <div class="payment">
                            <p>Payment Method</p>
                            <label for="" class="radio-inline">
                                <input type="radio" name="payment-method" value="COD" checked>COD
                            </label>

                            <label for="" class="radio-inline mt-2">
                                <input type="radio" name="payment-method" value="ONLINE" checked>Pay Online
                            </label>
                            <button class="btn btn-primary float-right" type="submit">Checkout</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    $("#checkout-form").submit((e) => {
        e.preventDefault()
        $.ajax({
            url: '/place-order',
            method: 'post',
            data: $('#checkout-form').serialize(),
            success: (response) => {
                alert(response)
                if (response.codSuccess) {
                    location.href = '/order-success'
                } else {
                    razorpayPayment(response)
                }
            }
        })
    })

    function razorpayPayment(order) {
        var options = {
            "key": "rzp_test_D0FQWz1JOsvP8x", // Enter the Key ID generated from the Dashboard
            "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "Town Multy Gym and Health Club Mundakkyam",
            "description": "Test Transaction",
            "image": "https://i.postimg.cc/Hnb1NVt4/download.png",
            "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "handler": function (response) {
               

                verifyPayment(response,order)
            },
            "prefill": {
                "name": "Gaurav Kumar",
                "email": "gaurav.kumar@example.com",
                "contact": "9999999999"
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#d83f3c"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.open();
    }
    function verifyPayment(payment,order){
    $.ajax({
        url:'/verify-payment',
        data:{
            payment,
            order
        },
        method:'post',
        success:(response)=>{
            if(response.status){
                location.href='/order-success'
            }else{
                alert('Payment Failed')
            }
        }
    })
    
}

</script>
<style>
    input[type=radio] {
        width: 20px;
        height: 20px;
    }

    label.radio-inline {
        display: flex;
        align-items: center;
    }

    .checkout {
        border: 1px solid;
        border-radius: 3px;
        padding: 30px;
    }

    .payment {
        padding-bottom: 16px;
    }
</style>